<section class="content-header">
    <h1>
        Gestionar novedades
    </h1>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Lista de novedades</h3>

                </div>
                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <tr>
                            <th>Fecha de publicación</th>
                            <th>Descripción</th>
                            <th></th>
                            <th></th>
                        </tr>
                        <tr ng-repeat="d in novedades">
                            <td style="vertical-align: middle">{{d.fecha | date:"dd/MM/yyyy"}}</td>
                            <td style="vertical-align: middle">{{d.descripcion}}</td>
                            <td style="vertical-align: middle">
                                <a href="#!editarNovedad/{{d.id}}" class="btn btn-sm btn-success" style="border-radius: 999px">
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                </a>
                            </td>
                            <td style="vertical-align: middle">
                                <button class="btn btn-sm btn-danger" style="border-radius: 999px" ng-click="eliminar(d.id)">
                                    <i class="ion-close" aria-hidden="true"></i>
                                </button>
                            </td>
                        </tr>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>
</section>
<!-- /.content -->
</div>