<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Gestionar destinos
    </h1>
</section>
<!-- Main content -->
<section class="content">
    <!-- Main content -->
    <div class="row">
        <!-- left column -->
        <div class="col-md-6">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">{{titulo}}</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form role="form">
                    <div class="box-body">
                        <div class="form-group">
                            <label>Lugar al que pertenece</label>
                            <select class="form-control" disabled>
                                <option>UTN - FRT</option>
                                <option>Shopping El Portal</option>
                                <option>Teatro Mercedes Sosa</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Nombre</label>
                            <input type="textarea" class="form-control" ng-model="Destino.nombre" placeholder="Ingrese el nombre" >
                        </div>
                        <div class="form-group">
                            <label>Descripción</label>
                            <textarea class="form-control" rows="3" placeholder="Descripción..." ng-model="Destino.descripcion"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Coordenada X</label>
                            <input type="text" class="form-control" ng-model="Destino.x" ng-disabled="editando" placeholder="Ingrese la coordenada X" >
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Coordenada Y</label>
                            <input type="text" class="form-control" ng-model="Destino.y" ng-disabled="editando" placeholder="Ingrese la coordenada Y">
                        </div>
                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary" ng-click="guardar(Destino)">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
        <!-- /.box -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->
</div>